* {
	font: inherit;
	line-height: inherit;
	color: inherit;
	text-decoration: inherit;
	margin: 0;
}

:root {
	font: normal normal 16px/1.5 sans-serif;
}

body {
	min-height: 100vh;
}

.flex {
	display: flex;
}

.flex.row {
	flex-flow: row;
}

.flex.column {
	flex-flow: column;
}

.flex.wrap {
	flex-wrap: wrap;
}

.flex.center {
	justify-content: center;
}

.flex.end {
	justify-content: end;
}

.flex.start {
	justify-content: start;
}

.flex.stretch {
	justify-content: stretch;
}

.flex.center-across {
	align-items: center;
}

.flex > .greedy {
	flex: 1000 1 auto;
}

.flex > .fix {
	flex: 0 0 auto;
}

.flex.gap {
	gap: 1rem;
}

.flex.gap-sm {
	gap: 0.5rem;
}

b {
	font-weight: bold;
}

h1 {
	font-weight: bold;
	font-size: 2rem;
}

h2 {
	font-weight: 500;
	font-size: 1.3rem;
	margin: 1rem 0 0.3rem;
}

input, button {
	font-size: 1rem;
	line-height: 1.5;
}
